
body{
    position: absolute;
    margin: 20%;
    text-align: center;
    background: wheat;
    background-repeat: no-repeat repeat;
}
img{
position: relative;
text-align: center;
}
#mapa{
  
  
    width: 500px;
    height: 500px;
}